doctype 5
html
  head
    style code {background-color:#eeeeee;} p {font-size:15px}
  body
    div(style = "font-family:arial")
      h2(style = "color:#29b37b") URL Shortener Microservice
      p This input returns shortened version of URL:
      code https://benws-urlshortener.herokuapp.com/new/{URL}
      h4 Usage example:
      p Visiting this URL:
      code https://benws-urlshortener.herokuapp.com/new/http://www.google.com
      p returns
      code {"urlShort":" https://benws-urlshortener.herokuapp.com/1049","url":"http://www.google.com"}
      p The user may then visit #[code https://benws-urlshortener.herokuapp.com/1049/] which re-directs to #[code http://www.google.com] 